body {
    background: linear-gradient(to bottom right, aqua, rgb(18, 212, 212), rgb(0, 98, 255));
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 2px rgb(11, 184, 184);
    color: rgb(76, 43, 226);
}

#countdown {
    width: 280px;
    height: 60px;
    background-color: rgb(76, 43, 226);
    padding-left: 10;
    border-radius: 30px;
    margin-left: 40px;
    margin-top: 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
    text-align: left;
    font-weight: bold;    
    color: white;
    position: absolute;
}

.wrapper {
    
}

.container {
    height: 550px;
    width: 70%;
    margin-top: 100px;
    margin: auto;
    background-color: rgb(57, 255, 255);
    border: white;
    border-width: 5px;
    border-style: outset;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#TriviaQuiz {
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 28px;
    }

/* .a1, .a2, .a3, .a4, .a5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
} */

#submit {
    height: 60px;
    width: 200px;
    background: rgb(76, 43, 226);
    border-radius: 30px;
    border-style: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    align-content: center;
}

#submit:hover {
    background:white;
    color: rgb(76, 43, 226);
    font-weight: bolder;
}
#results {
    visibility: hidden;
    height: 550px;
    width: 70%;
    margin-top: 100px;
    margin: auto;
    background: greenyellow;
    color: rgb(76, 43, 226);
    border-width: 5px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    text-align: center; 
}



